body {
    color: #777;
    background-image: url('../crossword.png');
}

div.kmeans {
    background-color: white;
}

b {
    color: black;
}

.highlight {
  background: yellow;
}

div.poembody {
  white-space: pre-wrap;
  background: #e7e7e7;
}

div.poembody {
  white-space: pre-wrap
}

mark {
    background: #ffff00;
}

div.container {
    margin-bottom: 2em;
}


