

<!doctype HTML>

<html>
<head>
    <title>angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>

<script>

var ang = angular.module('wordsearch', []).controller('DisplayController', function ($scope) {

    
    $scope.poem = 'hey'

})
ang.config(['$interpolateProvider', function($interpolateProvider) {
  $interpolateProvider.startSymbol('{a');
  $interpolateProvider.endSymbol('a}');
}]);

</script>


</head>
<body>
<div ng-app="wordsearch" ng-controller="DisplayController" id="content">
<h1>Compare top words by subject</h1>
<p>{a poem a}</p>

    <div id="letters">
      <span ng-repeat="letter in 'abcdefghijklmnopqrstuvwxyz'">
        <button ng-disabled="guesses[letter]"
                ng-click="guess(letter)">{a letter a}</button>
      </span>
    </div>

</div>
</body>
</html>
