{% extends 'base.html' %}
{% block title %}Poetry Project{% endblock %}
{% block content %}
    <form action="/">
        <input name='term'>
    </form>
    {% if poems %}
        {% for poem in poems %}
        <div class="container">
            <div class="headline" id="{{ poem.poem_id }}" subjects="{{ poem.subjects }}" affiliation="{{ poem.author.affiliation }}" region="{{ poem.author.region }}">
                {% for headline in headlines %}
                    {% if headline.poem_id == poem.poem_id %} 
                        {{ headline.headline | safe }}
                    {% endif %} 
                {% endfor %}</div>
            <div id="poem_{{ poem.poem_id }}" hidden>
                {{ poem.body }}
            </div>
        </div>
            

        {% endfor %}
    {% endif %}

    {% if subjects %}
    <ul id="subject-list">
        {% for subject in subjects %}
            <li>{{ subject }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}
{% block script %}
<script type="text/javascript">


function toggleText(evt) {
    var id = 'poem_' + this.id;
    $("#" + id).toggle()
}


$('.headline').on('click', toggleText)
</script>
{% endblock %}


