{% extends 'base.html' %}
{% block title %}KMeans{% endblock %}
{% block content %}

<h1>KMeans</h1>

<img src="/static/k20alldocs_variance.png">

<h4>k=4</h4>
<ul>
<li><b>Nature/Contemplative:</b> wind like rain land god water death time night day gray away deep ve long quiet light red far road</li>
<li><b>Wooing/Love:</b> thy thou thee love st thine shall art dost did fair heart doth hath hast beauty soul tis let make</li>
<li><b>Love of God:</b> love heart shall life let doth did tis eyes know heaven time fair true day ye mind away ll beauty</li>
<li><b>Passage of Time:</b> like man night white said light little just old way eyes know time dark black world day did hand father</li>



{% endblock %}

<!-- 
k=4

Cluster 0: ve like dog chest waiting away time night man glass
Cluster 1: thy thou thee love shall st thine art did fair
Cluster 2: love like said know man little just life heart say
Nature: like light night white eyes water wind sun air day

k=5
Cluster 0: love tis let heart life doth beauty true eyes vain
Cluster 1: said waiting god came meansthey rows instead think gave saw
Cluster 2: thy thou thee love shall st thine art did fair
Cluster 3: like light night eyes white water time dark black moon
Cluster 4: like said know just say ve don old father little

Cluster 0: poem waiting like said life violin car test brother deer friend fell stone horse flint right little eye young reason
Cluster 1: love like did man know time heart said old life let just say little day make away world come way
Cluster 2: thy thou thee love shall st thine art did fair let heart dost doth god hath sweet beauty hast soul
Cluster 3: like night long birds day look lord sky lost time ve white sun wall water yellow man blue know morning
Cluster 4: like light black white dark eyes night rain moon water hand air leaves half window open said green sea little 

k=3

Cluster 0: thy thou thee love shall st thine art did fair
Cluster 1: like night light white eyes water dark sun hand day
Cluster 2: love said know time man like heart life just say

Cluster 0: god room door pink man night like said white cats know time world window soon face light eyes day dark
Cluster 1: like love night time eyes light said man day life old little know white just did long heart way say
Cluster 2: thy thou thee love st shall thine art did fair let dost doth heart hath beauty god hast sweet soul-->