{% extends 'base.html' %}
{% block title %}KMeans{% endblock %}
{% block content %}

<h1>KMeans</h1>

<img src="/static/k20alldocs_variance.png">

<h4>k=4</h4>
<ul>
  <li><b>Nature/Contemplative:</b> wind like rain land god water death time night day gray away deep ve long quiet light red far road</li>
  <li><b>Wooing/Love:</b> thy thou thee love st thine shall art dost did fair heart doth hath hast beauty soul tis let make</li>
  <li><b>Love of God:</b> love heart shall life let doth did tis eyes know heaven time fair true day ye mind away ll beauty</li>
  <li><b>Passage of Time:</b> like man night white said light little just old way eyes know time dark black world day did hand father</li>
</ul>



  {% endblock %}

