{% extends 'base.html' %}
{% block title %}Poets{% endblock %}
{% block content %}


<select id="subjects" name="subject">
  {% for subject in subjects %}
  <option value="{{ subject.subject_id }}">{{ subject.subject_name }}</value>
    {% endfor %}
  </select>

  <div class="container">
    <table class="table table-striped">
      <tbody>
      </tbody>
    </table>
  </div>

  {% endblock %}

  {% block script %}
  <script type="text/javascript" src="static/js/subjects.js"></script>
  {% endblock %}