{% extends 'base.html' %}
{% block title %}Poets{% endblock %}
{% block content %}

{% for subject in subjects %}
<button id="{{ subject.subject_id }}">{{ subject.subject_name }}</button>
{% endfor %}

<table id="table">
    <tbody>
    </tbody>

</table>

{% endblock %}

{% block script %}
<script type="text/javascript">

function renderTable(data) {
    $('tbody').append('<tr><td>' + JSON.stringify(data) + '</td></tr>');
}

function fetchInfo(e) {
    var id = this.id;
    var url = '/subject_info/' + id + '.json';
    $.get(url, renderTable);
}

$('button').on('click', fetchInfo);

</script>


{% endblock %}